body{
    color: white;
    background: black;
    margin 0px;
    font-family: "New Amsterdam", sans-serif;
}


header {
    border-bottom: solid 2px rgba(33, 0, 250, 0.973);
    padding: 20px;
    font-size: 32px;
    color: rgb(33, 0, 250, 0.973);
}

section { 
background: rgb(13, 114, 247);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;

}

.chamada-texto {
   margin-right: 5%;
}
h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}
img {
    height: 200px;
}